
<h2>Welcome Trekker</h2></br>

<form method="post" action="/events">
<label for="name">Event Name: </label><input type="text" name="name" required><br>
<label for="description">Description: </label>: </label><input type="text" name="description" required><br>
<label for="location">Location: </label><input type="text" name="location" required><br>
<label for="tourGuide">Tour Guide: </label><input type="text" name="tourGuide" required><br>
<label for="price">Price: </label><input type="text" name="price" required><br>
<label for="maxUsers">Max Users: </label><input type="text" name="maxUsers" required><br>
<label for="eventDate">Event Date: </label><input type="text" name="eventDate" required><br>
  <input type="submit" value="Submit">


</form>

<link href="../public/site.css" rel="stylesheet">
