<section id="main">
    <div class="container">
        <div class="wrapper-info">
            <div class="map-info"><h3 class="title-style-2">HOW TO FIND US?</h3>
                <p class="address"><i class="fa fa-map-marker"></i>Stevens Institute of Technology<br>1, Castle Point, Hoboken <br>NJ - 07030</p>
                <p class="phone"><i class="fa fa-phone"></i>+1 609 6096090 </p>
                <p class="mail"><a href="info@trektheworld.com"> <i class="fa fa-envelope-o"></i>info@trektheworld.com</a></p>
            </div>
        </div>   

        <aside id="sidebar">
            <div class="dark">
                <h3>Send us a message</h3>
                <form class="message">
                    <div>
                        <label>Name</label><br>
                        <input type="text" placeholder="Your name" />
                    </div>
                    <div>
                        <label>eMail</label><br>
                        <input type="email" placeholder="eMail Address" />
                    </div>
                    <div>
                        <label>Message</label><br>
                        <textarea placeholder="Your message"></textarea>
                    </div>
                    <button class="button1" type="submit">Send</button>
                </form>
            </div>
        </aside>
    </div>
</section>