<section id="newsletter">
    <div class="container">
        <form>
            <h2>Explore the World!!!</h2>
            <label for="Subscription">Subscribe to our events: 
                <input type="email" placeholder="Enter your email..." />
            </label>
            <br>
            <button type="submit" class="button_1">Subscribe</button> 
        </form>
    </div>
</section>
<section id="main">
    <div class="container">
        <h3>HOW TO FIND US?</h3>
        <p class="address">Stevens Institute of Technology<br>1, Castle Point, Hoboken <br>NJ - 07030</p>
        <p class="phone">PH: +1 (609)-609 6090 </p>
        <p class="mail"><a href="info@trektheworld.com">info@trektheworld.com</a></p>

        <aside id="sidebar">
            <div class="dark">
                <h3>Send us a message</h3>
                <form class="message">
                    <div class="container">
                        <label>Name</label><br>
                        <input type="text" placeholder="Your name" />
                    
                        <label>eMail</label><br>
                        <input type="email" placeholder="eMail Address" />
                    
                        <label>Message</label><br>
                        <textarea placeholder="Your message"></textarea>
                    
                        <button class="button_1" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </aside>
    </div>
</section>