

   

</html>

<!DOCTYPE html>
<html lang='en'>
<div id="wrap">
<head>
<div id="header">
<h1>Trek The World</h1>
</div>
</head>
<body>

<div id="content">

<div class="right"> 
<h2>Menu</h2>
<ul>

<li><a href="/events">Events</a></li> 

</ul>


</div>
<div class="left"> 
     {{{body}}}
</div>
</div>

</body>

</div>
</html>