<form method='post' action='/users'>
    <label for='loginID'>Login ID
    <input type='text' name='loginID' id='loginID' class='loginID' />
    </label><br>
    <label for='password'> Password
    <input type='password' name='password' id='password' class='password' />
    </label>
    <br>  
    <button class="button_1" type="submit" value="Submit">Submit</button>
</form>

<a href='signup'>Sign-Up</a>
<link href="../../public/site.css" rel="stylesheet">