<h1>Sign In</h1>

<form method='post' action='/users'>
    <label for='loginID'>Login ID
        <input type='text' name='loginID' id='loginID' class='loginID' />
    </label><br>
    <label for='password'> Password
        <input type='password' name='password' id='password' class='password' />
    </label>
    
  <br>  <input type='submit' value='Submit' />

</form>


<a href='signup'>Sign-Up</a>
<br>
<a href='/auth/google'>Sign-in Via Google (Must be registered with email first)</a>
<link href="../../public/site.css" rel="stylesheet">