<h2>Welcome Trekker</h2></br>
<h3>Registered Events</h3>
<table border='1'><thead><tr><td>Event Name</td><td>Event Type</td><td>Location</td><td>Option</td></tr></thead><tbody>
{{#each events}}
<tr><td>{{name}}</td><td>{{location}}</td><td>{{location}}</td><td><a href="events/single/{{_id}}">View</a></td></tr>
{{/each}}

</tbody></table>
<link href="../public/site.css" rel="stylesheet">